
body {
    color: #000;
    font-family: Monospace;
    font-size: 13px;
    margin: 0px;
    overflow: hidden;
    background-image: linear-gradient(0deg, #8c76ed, #fca4c5);
}

.dg {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}
