<!DOCTYPE html>
<html lang="en">

<head>
    <title>three.js webgl - Daniel Del Core</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="assets/styles/main.css" />
</head>

<body>
    <script src="scripts/vendor/three.js"></script>
    <script src="scripts/vendor/three-lib/OrbitControls.js"></script>
    <script src="scripts/vendor/three-lib/Detector.js"></script>
    <script src="scripts/vendor/three-lib/stats.min.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>
