<!DOCTYPE html>
<html lang="en">

<head>
    <title>three.js webgl - Daniel Del Core</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
        body {
            color: #000;
            font-family: Monospace;
            font-size: 13px;
            margin: 0px;
            overflow: hidden;
            background-image: linear-gradient(0deg, #8c76ed, #fca4c5);
        }
    </style>
</head>

<body>
    <script src="scripts/vendor/three.js"></script>
    <script src="scripts/vendor/three-lib/controls/OrbitControls.js"></script>
    <script src="scripts/vendor/three-lib/Detector.js"></script>
    <script src="scripts/vendor/three-lib/libs/stats.min.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>
